.billInput {
  background-image: url("../../assets/images/icon-dollar.svg"); /* Path to your dollar icon */
  background-position: 10px center; /* Position the icon */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  padding-left: 1rem; /* Add padding so the text doesn't overlap the icon */
  background-color: var(
    --very-light-grayish-cyan
  ); /* Optional: background color */
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: end;
  border: 3px solid transparent;
  width: 90%;
  transition: border 0.3s ease; /* Smooth transition for the border */
  outline: none; /* Remove the default black outline */
  color: var(--strong-cyan);
}

.billInput:hover, 
.billInput:focus {
  border: 3px solid var(--strong-cyan);
  cursor: pointer;
}

.billInput:active {
  border: 3px solid var(--strong-cyan);
}
