.resetButton {
  background-color: #0d686d;
  border: none;
  color: var(--very-dark-cyan);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 40%;
}
