.resetButton {
  border: none;
  color: var(--very-dark-cyan);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  bottom: 0;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for color */
}

/* Styles for the button when result is greater than zero (active state) */
.active {
  background-color: var(--strong-cyan); 
}

.active:hover {
  background-color: #9fe8df; 
}

/* Styles for the button when result is zero (inactive state) */
.inactive {
  background-color: #0d686d;
}

.inactive:hover {
  background-color: var(--light-grayish-cyan); 
}
