.resultContainer {
  font-size: .8rem;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resultItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultItem span {
  color: var(--grayish-cyan);
}

.amount {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--strong-cyan);
}
