/* CSS Variables */
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Global Styles */
body {
  font-family: "Space Mono", monospace;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splitter-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.calculator {
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}

.inputs,
.results {
  flex: 1;
}

/* Input Groups */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: var(--dark-grayish-cyan);
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid var(--light-grayish-cyan);
  border-radius: 5px;
  color: var(--very-dark-cyan);
  background-color: var(--very-light-grayish-cyan);
}




